.container header {
  position: fixed;
  width: 100%;
  top: 0;
}
.container footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 24px;
  background: hsl(45deg, 30%, 75%);
}

.main {
  display: grid;
  padding-top: 64px;
  padding-bottom: 64px;
  align-content: center;
  overflow: auto;
}
