.container footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 12px;
  background: hsl(45deg, 30%, 75%);
}

.main {
  display: grid;
  padding: 32px 64px;
  align-content: center;
  overflow: auto;
}
